<div>
    <h3 style="color:black; text-align: center;" ng-show="table">
    Issues
    </h3>
    <uib-accordion close-others="false">
        <uib-accordion-group heading="[[issue.issue.title]]" ng-repeat="issue in issues">
            [[issue.issue.body]]

            <br>
            <h3 style="color:black; text-align: center;" ng-show="table">Comments</h3>
            <uib-accordion close-others="false">
                <uib-accordion-group heading="[[comment.user.login]]" ng-repeat="comment in issue.commentsArray" style="margin-left: 50px;">
                [[comment.body]]
            </uib-accordion>

            <form name="sentMessage" id="contactForm" novalidate style="margin-left: 50px;">
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" id="username" required data-validation-required-message="You cannot comment without entering your username" ng-model="meraform.username">
                    <p class="help-block text-danger"></p>
                </div>
            </div>

            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Comment</label>
                    <textarea rows="5" class="form-control" placeholder="Care to Comment?" id="comment" required data-validation-required-message="Your comment can't be empty"  ng-model="meraform.personalcomment"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-success btn-lg" ng-click="postcomment(issue)">Comment</button>
                </div>
            </div>
            </form>
        </uib-accordion-group>
    </uib-accordion>
</div>