{% extends "templates/web/base.html" %}
    
    {% block body_content %}

    <!-- Header -->
    <header>
        <div ng-controller="homeController">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                                <section id="portfolio" style="padding-bottom: 0px;padding-top: 0px;">
                                    <div class="container" style="padding-bottom: 0px;">
                                        <div class="row">
                                            <div class="col-sm-12 portfolio-item">
                                                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                                    <div class="caption">
                                                        <div class="caption-content">
                                                            <i class="fa fa-search-plus fa-3x"></i>
                                                        </div>
                                                    </div>
                                                    <img src="{{STATIC_URL}}img/cube261.jpg" class="img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                <section id="portfolio" style="padding-top: 0px;">
                        <div class="intro-text">
                            <span class="name" style="color: white;text-align: center;">Cube26 Frontend Assignment</span>
                            <hr class="star-light">
                            <br>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center" >
                                    <span class="skills" style="color: white;text-align:center;">Enter a valid github project url<br>(Press Enter to GO!)</span>
                                    <input class="form-control" type="text" ng-model="url" ng-keyup="enter($event)">

                                </div>
                            </div>

                            <div ng-show="table" style="color:black;padding-top: 50px;">
                                <h3 style="color:black; text-align: center;"> Issues Information</h3>
                                <table class="table table-condensed">
                                    <thead>
                                      <tr>
                                        <th>Criterion</th>
                                        <th>Number of Issues</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Total</td>
                                        <td>[[stats.Total]]</td>
                                      </tr>
                                      <tr>
                                        <td>Last 24 hours</td>
                                        <td>[[stats.Day]]</td>
                                      </tr>
                                      <tr>
                                        <td>More than 24 hours and less than 7 days</td>
                                        <td>[[stats.Week]]</td>
                                      </tr>
                                      <tr>
                                        <td>Greater than 7 days</td>
                                        <td>[[stats.MorethanWeek]]</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <br>
                            <h3 style="color:black; text-align: center;" ng-show="table"> Issues</h3>
                            <uib-accordion close-others="false">
                                <uib-accordion-group heading="[[issue.issue.title]]" ng-repeat="issue in issues">
                                    [[issue.issue.body]]
                                    <br>
                                    <h3 style="color:black; text-align: center;" ng-show="table">Comments</h3>
                                    <uib-accordion close-others="false">
                                        <uib-accordion-group heading="[[comment.user.login]]" ng-repeat="comment in issue.commentsArray" style="margin-left: 50px;">
                                            [[comment.body]]
                                    </uib-accordion>

                                    <form name="sentMessage" id="contactForm" novalidate style="margin-left: 50px;">
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username" id="username"  ng-model="meraform.username" name="uname" required="" ng-required="true"/>
                                                <div ng-show="sentMessage.$submitted || sentMessage.uname.$touched">
                                                    <div ng-show="sentMessage.uname.$error.required">Tell us your name.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Comment</label>
                                                <textarea rows="5" class="form-control" placeholder="Care to Comment?" id="comment" ng-model="meraform.personalcomment" name="comcom" required="" ng-required="true"/>     </textarea>
                                                <div ng-show="sentMessage.$submitted || sentMessage.comcom.$touched">
                                                    <div ng-show="sentMessage.comcom.$error.required">
                                                        Tell us your comment.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div id="success"></div>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <button class="btn btn-success btn-lg" type="button" ng-click="sentMessage.$valid && postcomment(issue)">Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </uib-accordion-group>
                            </uib-accordion>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="{{STATIC_URL}}img/cube261.jpg" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_content %}