{% extends "templates/web/base.html" %}
    
    {% block body_content %}

    <!-- Header -->
    <header>
        <div ng-controller="homeController">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="{{STATIC_URL}}img/cube261.jpg" alt="">
                        <div class="intro-text">
                            <span class="name" style="color: white;text-align: center;">Cube26 Frontend Assignment</span>
                            <hr class="star-light">
                            <br>
                            <br>
                            <github-url style="color:red"></github-url>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    

{% endblock body_content %}